<div class="container-main pt-3">

    <div *ngIf="!isFullScreen">
        <div class="container-fluid mb-3">
            <!-- Card stats -->
            <div class="row">
                <div class="col-6">
                    <div class="card card-custom" style="height: 150px;">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="text-uppercase mb-1">Run on local webcame</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Select Port</mat-label>
                                        <mat-select [(value)]="port_selected">
                                            <mat-option *ngFor="let port of ports" [value]="port">
                                                {{port}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <button [class]="buttonStyle_1" (click)="onLocalDetectionButton()"
                                        [disabled]="isLocalDisabled">{{buttonTitle}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-custom" style="height: 150px;">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="text-uppercase mb-1">Run on remote camera</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="input-text" placeholder="Enter Streaming URL"
                                        [(ngModel)]="inputText">
                                </div>
                                <div class="col-4">
                                    <button [class]="buttonStyle_2" (click)="onRemoteDetectionButton()"
                                        [disabled]="isRemoteDisabled">{{buttonTitle}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid  mb-3">
            <div class="row">
                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card" style="height: 400px;">
                        <div class="card-body" style="padding: 0px;">

                            <div class="video-container">
                                <img src={{videoURL}} class="video" alt="video">
                                <label class="blink record" *ngIf="showRecord">Recoding</label>
                                <label class="fps">{{fps | number : '1.2-2'}}</label>
                            </div>
                            <div class="player-button-container card-custom">
                                <button class="playerButton" (click)="onCommandButton('play')" matTooltip="play"
                                    matTooltipClass="tooltip-custom">
                                    <mat-icon style="font-size: 30px;">play_arrow</mat-icon>
                                </button>
                                <button class="playerButton" (click)="onCommandButton('stay')" matTooltip="stop"
                                    matTooltipClass="tooltip-custom">
                                    <mat-icon style="font-size: 30px;">stop</mat-icon>
                                </button>
                                <button class="playerButton" (click)="onCommandButton('record')" matTooltip="record"
                                    matTooltipClass="tooltip-custom">
                                    <mat-icon style="font-size: 30px;">fiber_manual_record</mat-icon>
                                </button>
                                <button class="playerButton" (click)="onCommandButton('play')"
                                    matTooltip="stop recording" matTooltipClass="tooltip-custom">
                                    <mat-icon style="font-size: 30px;">stop</mat-icon>
                                </button>
                                <button class="playerButton" (click)="onCommandButton('snap')" matTooltip="snapshot"
                                    matTooltipClass="tooltip-custom">
                                    <mat-icon style="font-size: 30px;">camera_alt</mat-icon>
                                </button>
                                <button class="playerButton" (click)="onCommandButton('fullscreen')"
                                    matTooltip="fullscreen" matTooltipClass="tooltip-custom">
                                    <mat-icon style="font-size: 30px;">fullscreen</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-custom" style="height: 460px;">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="text-uppercase mb-1">Weapon bbox Locations</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="locationChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid  mb-2">
            <div class="row">
                <div class="col-6">
                    <div class="card card-custom" style="height: 200px;">
                        <div class="card-body">
                            <div id="progressChart"></div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card card-custom" style="height: 200px;">
                        <div class="card-body">
                            <b>Person</b>
                            <div class="row" style="align-items: center; justify-content: center;">
                                <div class="col-10">
                                    <mat-progress-bar class="confidence-progressbar" color="primary"
                                        [value]="confidence_person*100"></mat-progress-bar>
                                </div>
                                <div class="col-2"><b>{{confidence_person | number : '1.2-2'}}</b></div>
                            </div>

                            <b>Weapon</b>
                            <div class="row" style="align-items: center; justify-content: center;">
                                <div class="col-10">
                                    <mat-progress-bar class="confidence-progressbar" color="accent"
                                        [value]="confidence_weapon*100"></mat-progress-bar>
                                </div>
                                <div class="col-2"><b>{{confidence_weapon | number : '1.2-2'}}</b></div>
                            </div>

                            <b>Suspicious</b>
                            <div class="row" style="align-items: center; justify-content: center;">
                                <div class="col-10">
                                    <mat-progress-bar class="confidence-progressbar" color="warn"
                                        [value]="confidence_suspicious*100"></mat-progress-bar>
                                </div>
                                <div class="col-2"><b>{{confidence_suspicious | number : '1.2-2'}}</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isLoading">
        <div class="network-progress-background"></div>
        <div class="network-progress">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" diameter="200">
            </mat-progress-spinner>
            <h4>Loading Model...</h4>
        </div>
    </div>

    <div class="fullscreen-player" *ngIf="isFullScreen">
        <div class="video-container" style="height: 90%;">
            <img src={{videoURL}} class="video" alt="video">
            <label class="fps">{{fps | number : '1.2-2'}}</label>
        </div>
        <div class="player-button-container">
            <button class="playerButton" (click)="onCommandButton('play')" matTooltip="play"
                matTooltipClass="tooltip-custom">
                <mat-icon style="font-size: 30px;">play_arrow</mat-icon>
            </button>
            <button class="playerButton" (click)="onCommandButton('stay')" matTooltip="stop"
                matTooltipClass="tooltip-custom">
                <mat-icon style="font-size: 30px;">stop</mat-icon>
            </button>
            <button class="playerButton" (click)="onCommandButton('record')" matTooltip="record"
                matTooltipClass="tooltip-custom">
                <mat-icon style="font-size: 30px;">fiber_manual_record</mat-icon>
            </button>
            <button class="playerButton" (click)="onCommandButton('play')" matTooltip="stop recording"
                matTooltipClass="tooltip-custom">
                <mat-icon style="font-size: 30px;">stop</mat-icon>
            </button>
            <button class="playerButton" (click)="onCommandButton('snap')" matTooltip="snapshot"
                matTooltipClass="tooltip-custom">
                <mat-icon style="font-size: 30px;">camera_alt</mat-icon>
            </button>
            <button class="playerButton" (click)="onCommandButton('fullscreen_exit')" matTooltip="exit fullscreen"
                matTooltipClass="tooltip-custom">
                <mat-icon style="font-size: 30px;">fullscreen_exit</mat-icon>
            </button>
        </div>
    </div>

</div>