<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col-lg-5" style="text-align: justify; margin-left: 10%; ;">
                <label class="font-1">Welcome to a safer world</label><br><br><br><br>
                <label class="font-2">--- A Complete <b> Thread Detection Platform </b> Built to Help Prevent Crime in
                    <b>Real
                        Time</b></label><br><br><br>
                <label class="font-2" style="margin-bottom: 40px;">Our sophisticated technology connects to your current
                    security camera to
                    proactively
                    detect and help prevent crimes before they happen.</label>

                <button class="btn btn-info header-btn">WATCH DEMO</button>
                <button class="btn btn-info header-btn">CONTACT US</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding: 10px; width: 99%;">
    <div class="col-12">
        <div class="text-container">
            <div class="font-1" style="color: black;">Upgrade your Security</div><br><br><br>
            <div class="font-2" style="color: black;">Suspecious Person Detector provides proactive threat detections
                such
                as gun detection before a active shooter uses a weapon, knife detection before a villian tries to hurt
                someone.</div>
        </div>
    </div>
</div>
<div class="row" style="padding: 10px; width: 99%;">
    <div class="col-12">

        <div class="features-container">
            <div class="feature-container">
                <img src="assets/images/icons/blue.svg" alt="photo" style="width: 40%;"><br><br>
                <label class="font_2_black"><b>Alerts Configuration</b></label><br><br>
                <label class="font_2_black">Standard configurable alert options to mobile phone, web, and
                    e-911</label><br><br><br><br>
            </div>

            <div class="feature-container">
                <img src="assets/images/icons/red.svg" alt="photo" style="width: 40%;"><br><br>
                <label class="font_2_black"><b>Real Time Detection</b></label><br><br>
                <label class="font_2_black">Always be informed with live alerts. Monitor and track all alerts
                    through web
                    dashboard.</label><br><br><br>
            </div>

            <div class="feature-container">
                <img src="assets/images/icons/icon-core4.svg" alt="photo" style="width: 40%;"><br><br>
                <label class="font_2_black"><b>Learning in the Field</b></label><br><br>
                <label class="font_2_black">Our platform is designed for CCTV, we work on any angle camera and in
                    any light
                    condition.</label><br><br>
            </div>

            <div class="feature-container">
                <img src="assets/images/icons/icon-upgrade2.svg" alt="photo" style="width: 50%;"><br><br>
                <label class="font_2_black"><b>Designed For CCTV</b></label><br><br>
                <label class="font_2_black">Our platform is designed for CCTV, we work on any angle camera and in
                    any light
                    condition.Integrated With</label><br><br>
            </div>
        </div>
    </div>
</div>